<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['home']">App</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <div class="d-flex ms-auto gap-2">
        @if (!autenticacionService.userLoggedIn()){
          <button class="btn btn-outline-success" [routerLink]="['login']">Log in</button>
          <button class="btn btn-outline-primary" [routerLink]="['registro']">Sign Up</button>
        } @else {
          <span>{{autenticacionService.userLogged()}}</span>
          <a [routerLink]="['/home']" (click)="autenticacionService.logout()">Log out</a>
        }
      </div>
    
    </div>

  </div>
</nav>