<div class="container py-4 row">
    <div class="col-md-4">

    </div>

    <div class="col-md-8">
        <h3 class="pt-3">Registrate</h3>
        <form class="form bg-light p-4 rounded shadow-sm" #registroForm="ngForm">

            <!--Rol Usuario-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="rol" class="form-label fw-semibold">Rol</label>
                </div>
                <div class="col-9 col-md-10">
                    <select class="form-select" name="rol" [(ngModel)]="usuario.rol" required>
                        <option [value]="null" disabled>Selecciona una opcion</option>
                        <option value="alumno">Alumno</option>
                        <option value="profesor">Profesor</option>
                    </select>
                </div>
            </div>

            <!--Nombre-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="nombre" class="form-label fw-semibold">Nombre</label></div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required>
                </div>
            </div>

            <!--Apellido-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="apellido" class="form-label fw-semibold">Apellido</label></div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuario.apellido" required>
                </div>
            </div>

            <!--Email-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="email" class="form-label fw-semibold">Email</label></div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" required>
                </div>
            </div>
            
            <!--Password-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="password" class="form-label fw-semibold">Password</label></div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="password" name="password" [(ngModel)]="usuario.password" required>
                </div>
            </div>

            <!--Ubicacion-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="ubicacion" class="form-label fw-semibold">Ubicacion</label></div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="ubicacion" name="ubicacion" [(ngModel)]="usuario.ubicacion">
                </div>
            </div>

            <!--Universidad-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="universidad" class="form-label fw-semibold">Universidad</label></div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="universidad" name="universidad" [(ngModel)]="usuario.universidad" required>
                </div>
            </div>

            <!--Carrera-->
            <div class="mb-3 row align-items-center">
                <div class="col-3 col-md-2"><label for="carrera" class="form-label fw-semibold">Carrera</label></div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="carrera" name="carrera" [(ngModel)]="usuario.carrera" required>
                </div>
            </div>

            <!--Enviar-->
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary mt-3" [disabled]="registroForm.form.invalid"
                    (click)="registrarUsuario()">Registrarse</button>
            </div>
        </form>
    </div>
</div>